#########################
# Unreal Engine 기본
#########################

# Unreal Engine Project Files
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.sln

# Obsidian config
/docs/.obsidian/